# Virtual Environment
bot/
env/

# Python cache
__pycache__/
*.pyc

#env file
.env

#chroma db
website_db/

#scraped data and the sitemap urls
scraper/*.json

# TTS Models
chatbot/text_to_speech/models/
*.onnx
*.onnx.json
